.box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #22272b;
  width: 1920px;
  height: 1080px;
}

.hd {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 23px;
  padding-right: 217px;
  padding-left: 90px;
  width: 1920px;
}

.block {
  display: flex;
  flex-direction: row;
}

.txt {
  width: 53px;
  height: 37px;
  line-height: 37px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f4f4f4;
  font-size: 26px;
  font-weight: 500;
}

.group {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 1077px;
  width: 67px;
  height: 64px;
}

.iconTest {
  opacity: 0.9;
  margin-top: 2px;
  width: 29px;
  height: 26px;
}

.text {
  margin-top: 8px;
  line-height: 30px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.block_4 {
  display: flex;
  flex-direction: row;
}

.block_2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 89px;
  height: 66px;
}

.dianhuaWrap {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  margin-top: 2px;
  width: 34px;
  height: 27px;
}

.dianhua {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  width: 34px;
  height: 27px;
}

.lu {
  position: relative;
  opacity: 0.9;
  margin-top: 13px;
  width: 14px;
  height: 8px;
}

.dot {
  position: relative;
  opacity: 0.9;
  width: 1px;
  height: 1px;
}

.txt_2 {
  margin-top: 7px;
  line-height: 30px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.group_2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 64px;
  width: 89px;
  height: 66px;
}

.bianji {
  opacity: 0.9;
  width: 29px;
  height: 29px;
}

.word {
  margin-top: 7px;
  line-height: 30px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.block_3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 64px;
  width: 45px;
  height: 66px;
}

.tulixianshi {
  opacity: 0.9;
  margin-top: 3px;
  width: 28px;
  height: 23px;
}

.text_2 {
  margin-top: 10px;
  line-height: 30px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.bd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 22px;
  width: 1920px;
}

.block_13 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(48, 57, 64, 1);
  width: 1180px;
  height: 969px;
}

.color {
  position: absolute;
  top: 0;
  left: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(48, 57, 64, 1);
  background-color: #252b30;
  width: 1180px;
  height: 80px;
}

.group_3 {
  display: flex;
  position: absolute;
  top: 120px;
  left: 30px;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  background-color: #282f34;
  width: 260px;
  height: 176px;
}

.txt_3 {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 45px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 32px;
  font-weight: 500;
}

.priceWrap {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 41px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2d363b;
  width: 260px;
  height: 70px;
}

.price {
  margin-top: 22px;
  margin-left: 20px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 24px;
  font-weight: 500;
}

.block_5 {
  display: flex;
  position: absolute;
  bottom: 241px;
  left: 30px;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  background-color: #282f34;
  width: 260px;
  height: 176px;
}

.word_2 {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 45px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 32px;
  font-weight: 500;
}

.moneyWrap {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 41px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2d363b;
  width: 260px;
  height: 70px;
}

.money {
  margin-top: 22px;
  margin-left: 20px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 24px;
  font-weight: 500;
}

.group_4 {
  display: flex;
  position: absolute;
  bottom: 25px;
  left: 30px;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  background-color: #282f34;
  width: 260px;
  height: 176px;
}

.text_3 {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 45px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 32px;
  font-weight: 500;
}

.priceWrap_2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 41px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2d363b;
  width: 260px;
  height: 70px;
}

.price_2 {
  margin-top: 22px;
  margin-left: 20px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 24px;
  font-weight: 500;
}

.block_6 {
  display: flex;
  position: absolute;
  top: 120px;
  left: 327px;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  background-color: #282f34;
  width: 260px;
  height: 176px;
}

.txt_4 {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 45px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 32px;
  font-weight: 500;
}

.moneyWrap_2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 41px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2d363b;
  width: 260px;
  height: 70px;
}

.money_2 {
  margin-top: 22px;
  margin-left: 20px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 24px;
  font-weight: 500;
}

.group_5 {
  display: flex;
  position: absolute;
  bottom: 241px;
  left: 327px;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  background-color: #282f34;
  width: 260px;
  height: 176px;
}

.word_3 {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 45px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 32px;
  font-weight: 500;
}

.priceWrap_3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 41px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2d363b;
  width: 260px;
  height: 70px;
}

.price_3 {
  margin-top: 22px;
  margin-left: 20px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 24px;
  font-weight: 500;
}

.block_7 {
  display: flex;
  position: absolute;
  bottom: 25px;
  left: 327px;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  background-color: #282f34;
  width: 260px;
  height: 176px;
}

.text_4 {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 45px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 32px;
  font-weight: 500;
}

.moneyWrap_3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 41px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2d363b;
  width: 260px;
  height: 70px;
}

.money_3 {
  margin-top: 22px;
  margin-left: 20px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 24px;
  font-weight: 500;
}

.group_6 {
  display: flex;
  position: absolute;
  top: 336px;
  left: 327px;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  background-color: #282f34;
  width: 260px;
  height: 176px;
}

.title {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 45px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #6c747b;
  font-size: 32px;
  font-weight: 500;
}

.priceWrap_4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 41px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2d363b;
  width: 260px;
  height: 70px;
}

.price_4 {
  margin-top: 22px;
  margin-left: 20px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #6c747b;
  font-size: 24px;
  font-weight: 500;
}

.block_8 {
  display: flex;
  position: absolute;
  top: 120px;
  right: 0;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  background-color: #282f34;
  width: 260px;
  height: 176px;
}

.word_4 {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 45px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 32px;
  font-weight: 500;
}

.moneyWrap_4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 41px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2d363b;
  width: 260px;
  height: 70px;
}

.money_4 {
  margin-top: 22px;
  margin-left: 20px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 24px;
  font-weight: 500;
}

.group_7 {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 241px;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  background-color: #282f34;
  width: 260px;
  height: 176px;
}

.text_5 {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 45px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 32px;
  font-weight: 500;
}

.priceWrap_5 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 41px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2d363b;
  width: 260px;
  height: 70px;
}

.price_5 {
  margin-top: 22px;
  margin-left: 20px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 24px;
  font-weight: 500;
}

.block_9 {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 25px;
  align-items: flex-start;
  flex-direction: row;
  border-radius: 5px;
  background-color: #282f34;
  width: 260px;
  height: 176px;
}

.colorDiv {
  margin-top: 106px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2d363b;
  width: 260px;
  height: 70px;
}

.group_8 {
  display: flex;
  position: absolute;
  top: 336px;
  right: 0;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  background-color: #282f34;
  width: 260px;
  height: 176px;
}

.txt_5 {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 45px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 32px;
  font-weight: 500;
}

.moneyWrap_5 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 41px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2d363b;
  width: 260px;
  height: 70px;
}

.money_5 {
  margin-top: 22px;
  margin-left: 20px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 24px;
  font-weight: 500;
}

.block_10 {
  display: flex;
  position: absolute;
  top: 120px;
  right: 297px;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  background-color: #282f34;
  width: 260px;
  height: 176px;
}

.word_5 {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 45px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #6c747b;
  font-size: 32px;
  font-weight: 500;
}

.priceWrap_6 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 41px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2d363b;
  width: 260px;
  height: 70px;
}

.price_6 {
  margin-top: 22px;
  margin-left: 20px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #6c747b;
  font-size: 24px;
  font-weight: 500;
}

.group_9 {
  display: flex;
  position: absolute;
  right: 297px;
  bottom: 241px;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  background-color: #282f34;
  width: 260px;
  height: 176px;
}

.text_6 {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 45px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #6c747b;
  font-size: 32px;
  font-weight: 500;
}

.moneyWrap_6 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 41px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2d363b;
  width: 260px;
  height: 70px;
}

.money_6 {
  margin-top: 22px;
  margin-left: 20px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #6c747b;
  font-size: 24px;
  font-weight: 500;
}

.block_11 {
  display: flex;
  position: absolute;
  right: 297px;
  bottom: 25px;
  align-items: flex-start;
  flex-direction: row;
  border-radius: 5px;
  background-color: #282f34;
  width: 260px;
  height: 176px;
}

.color_2 {
  margin-top: 106px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2d363b;
  width: 260px;
  height: 70px;
}

.group_10 {
  display: flex;
  position: absolute;
  top: 336px;
  right: 297px;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  background-color: #282f34;
  width: 260px;
  height: 176px;
}

.txt_6 {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 45px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 32px;
  font-weight: 500;
}

.priceWrap_7 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 41px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2d363b;
  width: 260px;
  height: 70px;
}

.price_7 {
  margin-top: 22px;
  margin-left: 20px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 24px;
  font-weight: 500;
}

.block_12 {
  display: flex;
  position: absolute;
  top: 336px;
  left: 30px;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  background-color: #fe9f00;
  width: 260px;
  height: 176px;
}

.title_2 {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 45px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 32px;
  font-weight: 500;
}

.moneyWrap_7 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 41px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #feab27;
  width: 260px;
  height: 70px;
}

.money_7 {
  margin-top: 22px;
  margin-left: 20px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f0f0f1;
  font-size: 24px;
  font-weight: 500;
}

.group_11 {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: 14px;
  width: 1179px;
  height: 45px;
}

.text_7 {
  margin-left: 66px;
  width: 65px;
  height: 45px;
  line-height: 45px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
}

.txt_7 {
  margin-left: 66px;
  width: 65px;
  height: 45px;
  line-height: 45px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
}

.word_6 {
  margin-left: 67px;
  width: 65px;
  height: 45px;
  line-height: 45px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
}

.text_8 {
  margin-left: 66px;
  width: 65px;
  height: 45px;
  line-height: 45px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
}

.txt_8 {
  margin-left: 67px;
  width: 65px;
  height: 45px;
  line-height: 45px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #fe9f00;
  font-size: 32px;
  font-weight: 500;
}

.word_7 {
  margin-left: 65px;
  width: 65px;
  height: 45px;
  line-height: 45px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
}

.text_9 {
  margin-left: 67px;
  width: 65px;
  height: 45px;
  line-height: 45px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
}

.txt_9 {
  margin-left: 66px;
  width: 65px;
  height: 45px;
  line-height: 45px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
}

.colorDiv_2 {
  display: flex;
  position: relative;
  margin-top: 12px;
  margin-left: 584px;
  background-color: #fe9f00;
  width: 78px;
  height: 8px;
}

.block_18 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(48, 57, 64, 1);
  width: 700px;
  height: 969px;
}

.color_3 {
  position: absolute;
  top: 0;
  left: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(48, 57, 64, 1);
  background-color: #252b30;
  width: 700px;
  height: 80px;
}

.block_14 {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 80px;
  left: 0;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(48, 57, 64, 1);
  background-color: #2d3439;
  padding-right: 47px;
  padding-left: 22px;
  width: 700px;
  height: 80px;
}

.container {
  display: flex;
  flex-direction: row;
}

.text_10 {
  line-height: 37px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #aebbc9;
  font-size: 26px;
  font-weight: 400;
}

.txt_10 {
  margin-left: 89px;
  line-height: 37px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f4f4f4;
  font-size: 26px;
  font-weight: 400;
}

.word_8 {
  line-height: 37px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #f4f4f4;
  font-size: 26px;
  font-weight: 400;
}

.group_12 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  width: 699px;
  height: 50px;
}

.tagWrap {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  border-radius: 25px;
  border-color: rgba(48, 57, 64, 1);
  padding-right: 138px;
  padding-left: 138px;
  height: 50px;
}

.tag {
  line-height: 30px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #6c747b;
  font-size: 22px;
  font-weight: 400;
}

.priceWrap_8 {
  display: flex;
  flex-direction: row;
  margin-top: 128px;
}

.num {
  margin-left: 36px;
  width: 128px;
  height: 33px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.desc {
  width: 417px;
  height: 33px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.price_8 {
  width: 118px;
  height: 33px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.empty {
  display: flex;
  margin-top: 33px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(48, 57, 64, 1);
  width: 700px;
  height: 3px;
}

.moneyWrap_8 {
  display: flex;
  flex-direction: row;
  margin-top: 31px;
}

.num_2 {
  margin-left: 36px;
  width: 128px;
  height: 33px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.desc_2 {
  width: 417px;
  height: 33px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.money_8 {
  width: 118px;
  height: 33px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.div {
  display: flex;
  margin-top: 33px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(48, 57, 64, 1);
  width: 700px;
  height: 3px;
}

.priceWrap_9 {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.num_3 {
  margin-left: 36px;
  width: 128px;
  height: 33px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.txt_11 {
  width: 417px;
  height: 33px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.price_9 {
  width: 118px;
  height: 33px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.word_9 {
  margin-top: 10px;
  margin-left: 163px;
  max-width: 524px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #6c747b;
  font-size: 22px;
  font-weight: 500;
}

.empty_2 {
  display: flex;
  margin-top: 12px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(48, 57, 64, 1);
  width: 700px;
  height: 3px;
}

.group_13 {
  display: flex;
  flex-direction: row;
  margin-top: 19px;
}

.num_4 {
  margin-left: 36px;
  width: 29px;
  height: 33px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #fe9f00;
  font-size: 24px;
  font-weight: 500;
}

.desc_3 {
  margin-left: 99px;
  width: 198px;
  height: 33px;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #fe9f00;
  font-size: 24px;
  font-weight: 500;
}

.money_9 {
  margin-left: 209px;
  max-width: 128px;
  height: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 33px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #fe9f00;
  font-size: 24px;
  font-weight: 500;
}

.block_17 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 63px;
  background-color: #282f34;
  width: 700px;
  height: 372px;
}

.grid {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.col1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-left: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(48, 57, 64, 1);
  width: 90px;
  height: 60px;
}

.tag_2 {
  max-width: 78px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.col2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-left: 28px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(48, 57, 64, 1);
  width: 90px;
  height: 60px;
}

.tag_3 {
  max-width: 78px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.col3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-left: 28px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(48, 57, 64, 1);
  width: 90px;
  height: 60px;
}

.tag_4 {
  max-width: 78px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.col4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-left: 28px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(48, 57, 64, 1);
  width: 90px;
  height: 60px;
}

.tag_5 {
  max-width: 78px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.desc_4 {
  margin-top: 40px;
  margin-left: 21px;
  max-width: 679px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.container_2 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 29px;
  padding-right: 29px;
  padding-left: 21px;
  width: 700px;
  height: 56px;
}

.text_11 {
  width: 135px;
  height: 30px;
  line-height: 30px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.priceWrap_10 {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 56px;
}

.word_10 {
  width: 67px;
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 23px;
  letter-spacing: 0.11px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.price_10 {
  line-height: 45px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffa602;
  font-size: 32px;
  font-weight: 500;
}

.block_16 {
  display: flex;
  flex-direction: row;
  margin-top: 29px;
}

.block_15 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #2d353b;
  width: 230px;
  height: 108px;
}

.weixinzhifu {
  width: 34px;
  height: 34px;
}

.txt_12 {
  margin-top: 10px;
  max-width: 147px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.infoWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  background-color: #2d353b;
  width: 230px;
  height: 108px;
}

.zhifubao {
  width: 33px;
  height: 33px;
}

.info {
  margin-top: 11px;
  max-width: 158px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.container_3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  background-color: #2d353b;
  width: 230px;
  height: 108px;
}

.welcomesvgiconWrap {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 33px;
  height: 33px;
}

.welcomesvgicon {
  position: relative;
  width: 33px;
  height: 33px;
}

.Minus {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 14px;
  height: 8px;
}

.image {
  position: absolute;
  top: 7px;
  left: 9px;
  width: 7px;
  height: 7px;
}

.picture {
  position: absolute;
  top: 7px;
  right: 9px;
  width: 7px;
  height: 7px;
}

.verticalLine {
  position: absolute;
  top: 12px;
  left: 16px;
  width: 2px;
  height: 14px;
}

.text_12 {
  margin-top: 10px;
  max-width: 146px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  letter-spacing: 0.11px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}
