.box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 71.2rpx;
}

.bd {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  opacity: 1;
  width: 45.6rpx;
  height: 45.6rpx;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 45.6rpx;
  height: 45.6rpx;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 45.6rpx;
  height: 45.6rpx;
}

.wrap {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 2.4rpx;
  left: 2.4rpx;
  align-items: center;
  flex-direction: row;
  border-radius: 2rpx;
  background-color: rgba(0, 0, 0, 0.4);
  padding-right: 1.2rpx;
  padding-left: 1.33rpx;
  height: 4rpx;
}

.riverdinwei {
  opacity: 1;
  width: 1.87rpx;
  height: 2.4rpx;
}

.distance {
  margin-left: 0.53rpx;
  width: 11.2rpx;
  height: 2.93rpx;
  line-height: 2.93rpx;
  white-space: nowrap;
  color: #ffffff;
  font-size: 2.4rpx;
  font-weight: 400;
}

.main {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  width: 45.6rpx;
  height: 15.2rpx;
}

.title {
  margin-top: 2.93rpx;
  width: 40rpx;
  height: 11.73rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 5.87rpx;
  color: #333333;
  font-size: 4rpx;
  font-weight: 400;
}

.ft {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-left-radius: 1.6rpx;
  border-bottom-right-radius: 1.6rpx;
  background-color: #ffffff;
  padding-right: 2.27rpx;
  padding-left: 2.4rpx;
  width: 45.6rpx;
  height: 10.4rpx;
  overflow: hidden;
}

.block {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 4rpx;
}

.xianjin {
  width: 4rpx;
  height: 4rpx;
}

.fashionHome {
  margin-left: 0.8rpx;
  line-height: 3.73rpx;
  white-space: nowrap;
  color: #666666;
  font-size: 3.2rpx;
  font-weight: 300;
}

.group {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 4rpx;
}

.favorite {
  width: 2.93rpx;
  height: 2.93rpx;
}

.num {
  margin-left: 0.67rpx;
  line-height: 3.47rpx;
  white-space: nowrap;
  color: #999999;
  font-size: 2.93rpx;
  font-weight: 400;
}
